if SHIELD_TINLION_LEFT

config ZMK_KEYBOARD_NAME
    default "TinLion"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TINLION_LEFT || SHIELD_TINLION_RIGHT

config ZMK_SPLIT
    default y

endif